<html>
	<head>	
		<style>
			.container-body{		
			width: 900px; margin:0 auto;
			background-color: white;		
			align-content: center;	
			padding-top: 20px;		
			padding-left: 20px;
			padding-bottom: 20px;
			padding-right: 20px;			
						}

			.submit{
			
}

		body{
			background-color: #ddd;
}
		</style>
	</head>
	<body>	
			<div class="jumbotron1">
			  <h1>wiki TV</h1>
			  <p>wiki TV™ is a web-based database for information regarding television series. This site is free for everyone to read content about a TV series, start a new page for a new TV series and write reviews. wiki TV™ was originally just a project that was required in a web application class in Ateneo de Manila University, but Justin Bautista and Shannon Ching, the founders, saw a future in it. By undergoing a rigorous development process, what was once a site that catered only to users based in localhost:3000 has now reached global fame and success.</p>		
			</div>


		<div> <%= button_to "All Shows", shows_path, :class => "btn btn-primary", :method => "get" %> </div>
	</body>
</html>
