<html>
<head>
		<style>
			body {
	background-color: #ddd;
}				
		</style>
	</head>
<div class="jumbotron">
  <h1>wiki TV</h1>
  <p>This is a wiki site for TV shows.</p>
  <p><a href="shows" class="btn btn-primary btn-lg">All Shows</a></p>
</div>
</html>
